window {
    background-color: lightgrey;
    color:black;
    padding: 10px;
}

button {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 10px solid;
    color: rgb(122, 130, 130);
}

button:active {
    font-family:Arial, sans-serif;
    border: 10px outset;
    color: rgb(64, 85, 85);
}
