* {
    border: 0px;
}

.white {
    color:white;
}

.new_login_entry {
    border: 2px solid;
}

window {
    background: url("img/hlib_fomenko_background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: lightgrey;
}

button {
    border: 5px solid;
    border-radius: 50px;
    color: rgb(101, 100, 100);
    margin: 5px;
    background-color: rgb(0, 0, 0);
}

button:active {
    border: 5px dashed;
    border-radius: 70px;
    color: rgb(155, 167, 186);
}

button:hover {
    opacity: 1;
    border-radius: 60px;
    animation: animate 3s linear infinite;
}

@keyframes animate {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 160%;
    }

}

.error-message {
    background-color: white;
    border: 5px outset;
    border-color: red;
    font-family: Arial, sans-serif;
    border-radius: 50px;
    margin: 5px;
}
