window {
    background: url("img/notebook_paper.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: lightgrey;
}

button {
    border: 5px solid;
    border-radius: 50px;
    color: rgb(9, 20, 34);
    margin: 5px;
    background-image: url("img/notebook_paper_button.jpg");
    background-repeat: repeat;
}

button:active {
    border: 5px dashed;
    border-radius: 70px;
    color: rgb(155, 167, 186);
}

button:hover {
    opacity: 1;
    border-radius: 60px;
    animation: animate 3s linear infinite;
}

@keyframes animate {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 160%;
    }

}

.error-message {
    background-color: white;
    border: 5px outset;
    border-color: red;
    font-family: Arial, sans-serif;
    border-radius: 50px;
    margin: 5px;
}
