* {
    border: 0px;
    font-size: large;
    color: #F5F5F5;;
}

.connection-box {
    background-color: rgb(204, 204, 100);
}

.connection-label {
    font-style: italic;
}

.chats-list-containter {
    background-color: #17212B;
}

.create-room {
    background-color: rgb(61,68,75);
}

.create-room-parent {
    background-color: rgb(79, 88, 97);
}

.chat-name {
    background-color: rgb(79, 88, 97);
}

.canvas {
    background-color: #0E1621;
}

.message-field {
    color: #F5F5F5;
    border: 3px solid;
    border-color: rgb(80, 85, 91);
    font-weight: unset;
    font-size: large;
    background-color: rgb(110, 115, 122);
}

.new-chat-button {
    background-repeat: no-repeat;
    background-image: url("../img/button_new_chat_dark.png");
    background-position: center;
    border: 2px solid;
    border-radius: 80px;
    border-color: rgb(255, 255, 255);
}

.authentication-window {
    background-color: rgb(51, 57, 62);
}

.additional_message_info_label {
    font-size: 15px;
    font-family: system-ui;
    font-style: italic;
    color: #6D7F8F;
}

.my_additional_message_info_label {
    color: #7BA6D0;
}

.my-name-text {
    font-family: unset;
    color: #85DE85;
}

.name-text{
    font-family: unset;
    color:#FF5676;
}

.window-top-label {
    background-color: rgb(27, 32, 36);
}

.upper-canvas-window {
    background-color: rgb(79,88,97);
}

.new-message-entry-parent {
    border: 0px;
    background-color: rgb(56, 62, 68);
}

.my-message-content-box {
    color: #F5F5F5;
    background-color: #2B5278;
    border-radius: 20px;
}

.message-content-box {
    color: #F5F5F5;
    background-color: #182533;
    border-radius: 20px;
}

.reply_box {
    background-color: #0E1621;
    border-radius: 5;
    padding: 10;
    margin: 0 10 0 10;
}

.reply_login {
    color: #8b96ff;
}

button {
    background-image: url("../img/button_dark.png");
    border: 2 solid;
    border-radius: 5;
    color: rgb(234, 230, 230);
    margin: 5;
}

button:active {
    color: rgb(216, 216, 216);
    border-radius: 50px;
    box-shadow: 0 0 0 9px rgb(72, 85, 120);
}

button:hover {
    box-shadow: 0 0 0 3px rgb(134, 147, 155);
    border-radius: 30px;
    animation: animate 1s linear infinite;
}

.error-message {
    background-color: rgb(255, 255, 255);
    border: 5px outset;
    border-color: red;
    font-family: Arial, sans-serif;
    border-radius: 50px;
    margin: 5px;
}

@keyframes animate {
    0% {
        box-shadow: 0 0 0 3px rgb(112, 122, 155);;
        opacity: 1;
    }
    50% {
        box-shadow: 0 0 0 5px rgb(76, 131, 168);
        opacity: 0.5;
    }
    100% {
        box-shadow: 0 0 0 3px rgb(112, 122, 155);;
        opacity: 1;
    }
}

.entry {
    background-color:rgb(40,46,51);
}

.search-entry {
    border: 0px;
    border-radius: 0px;
    background-color: rgb(61,68,75);
}

.search-entry-parent {
    border: 0px;
    background-color: rgb(79, 88, 97);
}

.main-area {
    background-color: rgb(58, 65, 72);
}

.default-window {
    background-color: rgb(51, 57, 62);
}
